<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">Spektr Secrets</h2>
      <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Securely sharing secrets never been this easy!</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
      Create a link to securely share a secret. It will be encrypted and by sharing the encryption key and the link in a separate channel, you minimize the risk of unathorised access. <br />
      </p>
    </div>
    <div class="text-center">
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Once a secret is viewed, it is deleted from our database and to make sure your secret is safe with us, we don't store the encryption key at all.</p>
    </div>
  </div>
</div>
